@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allerta Stencil');
@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#beatbase {
  cursor: pointer;
  text-decoration: none;
}

header {
  background: hsl(291, 79%, 53%, 0.3);
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 13px;
  height: auto;
  position: relative;
  width: 100%;
  top: 58px;
}

#tagline1 {
  font-size: 70px;
  text-shadow: 2px 2px #ff0000;
}

#tagline2 {
  font-size: 40px;
  text-shadow: 2px 2px #333333;
  color: #ff66d9;
}

body {
  background-image: url("images/scratcher.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: hsl(280, 100%, 11%);
  margin-bottom: 50px;
}

p {
  margin: 13px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 21px;
  font-size: 12px;
  padding-top: 16px;
  position: relative;
}

div form {
  position: relative;
  padding-top: 10px;
  float: right;
}

#email {
  border-radius: 25px;
  text-indent: 10px;
  color: #5687dc;
  font-style: italic;
  padding-right: 10px;
  font-size: 18px;
  position: relative;
}

section {
  position: relative;
  z-index: 1;
}

section label {
  position: static;
  left: 205px;
  bottom: 24px;
  font-size: 18px;
}

nav {
  color: #FFFFFF;
  background-color: hsl(280, 100%, 11%);
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  display: flex;
  font-family: "Nunito", sans-serif;
  padding-bottom: 1px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

}

.nav-links a:hover {
  background-color: hsla(0, 0%, 100%, 0.9);
  color: hsl(280, 100%, 11%);
  transition: background-color 0.7s;
}

.logo{
  text-transform: lowercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.nav-links{
  color: #FFFFFF;
  display: flex;
  background-color: #333399;
  justify-content: space-around;
  width: 40%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 18px;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 4px;
  background-color: hsl(209, 100%, 99%);
  margin: 5px;
  transition: all 0.7s ease;
}

@media screen and (max-width:1024px){
  .nav-links{
    width: 60%;
  }
  body{
    overflow-x: hidden;
    background-size: auto;
    background-position: center;
  }

  section label, input {
    position: static;
    left: 0px;
    bottom: 0px;
    top: 9px;
  }

  p {
    display: none;
  }

  header {
    padding-bottom: 27px;
    font-size: 16px;
    height: auto;
  }

  div form {
    position: relative;
    float: left;
    top:45px;
    margin: 10px;
  }

  .input-container{
    position: relative;
    left: 50px;
  }

  .content{
    top:360px;
  }

  .glow{
    position: relative;
    top:10px;
  }

  #email{
    position: relative;
    top: 10px;
  }

  .row {
    position: relative;
    top: 130px;
    float: left;
    width: 100%;
  }


  #csoon {
    font-size: 25px;
    position: relative;
    float: left;
    bottom: 30px;
  }

  #loginform {
    position: relative;
    z-index: 1;
  }

}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-image: url("images/speaker.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in, all 0.7s ease;
  }

  .logo{
    position: absolute;
    left: 25px;
  }

  .burger{
    position: relative;
    float: right;
    left:180px;
  }

  #tagline1{
    font-size: 50px;
    text-indent: 15px;
  }

  #tagline2{
    font-size: 30px;
    text-indent: 15px;
  }

  #loginform{
    margin-top: 18px;
    position: relative;
    top:20px;
    z-index: 1;
  }

  header{
    height: auto;
    background: none;
  }

  form label{
    font-size: 13px;
  }

  section{
    text-indent: 14px;
  }

  nav{
    position: fixed;
    width: 100%;
  }

  #signin{
    display: none;
  }

  .glow{
    position: relative;
    top:10px;
    padding-right: 10px;
  }

  #email{
    position: relative;
    top: 8.1px;
    width: 40%;
    font-size: 80%;
    z-index: 1;
  }

  p{
    display: none;
  }

  form label{
    padding-top: 13.5px;
  }

  form div{
    position: relative;
    top: 11.5px;
  }

  #login{
    position: relative;
    top: 21px;
  }

  #csoon{
    font-size: 15px;
    position: relative;
    width: 100%;
  }

  .gallerycontainer {
    column-count: 3;
  }

  #galleryintro {
    font-size: 16px;
  }

  #slider {
    min-height: 180px;
    max-height: 180px;
  }

}


.nav-links li{
  opacity: 0;
}

.burger{
  display: block;
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
  box-shadow: 0 5px 21px #ffffff;
}
.toggle .line2{
  opacity: 0;
  box-shadow: 0 5px 21px #ffffff;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
  box-shadow: 0 5px 21px #ffffff;
}

form{
  padding-right: 13px;
  font-family: 'Fredoka One', cursive;
  color: hsl(175, 97%, 95%);
  font-size: 18px;
  display: grid;
  grid-row-gap: 0.25em;
  grid-column-gap: 1em;
  grid-template-columns: minmax(max-content, 1fr) 3fr;
  width: 450px;
  position: relative;
  bottom: 150px;
}

form h3 {
 grid-column: 1 / 3;
}
form input[type="submit"] {
  grid-column: 2 / 3;
  justify-self: end;
  width: 76px;
  cursor: pointer;
}
form input{
  font-family: 'Fredoka One', cursive;
  color: hsl(293, 86%, 27%);
  box-shadow: 0 5px 21px #ffffff;
}

#username, #pass, #cfpass {
  border-radius: 25px;
  text-indent: 7px;
}

#login {
  border-radius: 30px;
  position: relative;
  left:10px;
  bottom: 37.2px;
}

form input:invalid {
  border-width: 0.5px 0.5px 0.5px 3px;
  border-left-style: solid;
  border-left-color: hsl(289, 97%, 43%);
}
form input:valid {
  border-width: 0.5px 0.5px 0.5px 3px;
  border-left-style: solid;
  border-left-color: hsl(173, 97%, 45%);
}
form:invalid {
  border-top: 3px solid hsl(289, 97%, 43%);
  border-width: thick;
  border-radius: 8.1px;
}
form:valid {
  border-top: 3px solid hsl(173, 97%, 45%);
  border-width: thick;
  border-radius: 7.5px;
}

#username {
  color: #5687dc;
}

#play {
  position: relative;
  left: 4px;
  cursor: pointer;
}

#alertclose {
  cursor: pointer;
}

.glow {
  color: #fff;
  text-align: center;
  animation: glow 1.6s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.input-container[data-error] .input {
  border-color: #c92432;
}

.input-container[data-error]::after {
  content: attr(data-error);
  font-size: 0.58em;
  color: #ffffff;
  display: block;
  margin: 0.5px 0;
  text-indent: 5px;
  font-family: 'Nunito', sans-serif;
}

#dialogoverlay2{
  display: none;
  opacity: .8;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #47FB9A;
  width: 100%;
  z-index: 10;
  height: 100%;
}

#loggedin{
  font-size: 100px;
  color: blue;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  top: 100px;
  position: relative;
}

#dialogoverlay{
  display: none;
  opacity: .8;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #9999ff;
  width: 100%;
  z-index: 10;
}

#dialogbox{
  display: none;
  position: fixed;
  background: #e0e0eb;
  border-radius: 7px;
  max-width: 550px;
  z-index: 10;
  margin-left: 60px;
}
#dialogbox > div{ background: #FFF; margin: 8px; }
#dialogbox > div > #dialogboxhead{ background: #666699; font-size: 19px; padding: 10px; color: #CCC; }
#dialogbox > div > #dialogboxbody{ background: #ffe6b3; padding: 20px; color: #131a00;}
#dialogbox > div > #dialogboxfoot{ background: #666699; padding: 10px; text-align: right; }

.main{
  padding: 40px 0;
  position: relative;
}

.text-wrapper{
  position: relative;
  min-height: 180px;
  max-height: 180px;
  min-width: 180px;
  max-width: 180px;
  border-radius: 11.5px;
  border: 7px solid #ffffff;
  box-shadow: 0 15px 35px #3d2173a1;
  transition: all ease 0.4s;
  display: block;
  line-height: 180px;
}

.text-wrapper h5{
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  text-transform: lowercase;
  text-shadow: 1.5px 1.5px #000000;
  position: relative;
  margin: 13px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

h4{
  font-family: 'Allerta Stencil', cursive;
  font-size: 34px;
  margin: 15px;
  color: #FFFFFF;
  margin-bottom: -15px;
}

#csoon {
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 70px;
  margin: 40px;
}

#genre1 {
  font-family: 'Anton', sans-serif;
}

#genre2 {
  font-family: 'Abril Fatface', cursive;
}

#genre3 {
  font-family: 'WindSong', cursive;
}

#genre4 {
  font-family: 'Exo 2', sans-serif;
}

#genre5 {
  font-family: 'Patua One', cursive;
}

#textwrapper1 {
  background-image: url("images/thumbnail6.jpg");
}

#textwrapper2 {
  background-image: url("images/thumbnail2.jpg");
}

#textwrapper3 {
  background-image: url("images/thumbnail3.jpg");
}

#textwrapper4 {
  background-image: url("images/thumbnail1.jpg");
}

#textwrapper5 {
  background-image: url("images/thumbnail4.jpg");
}

#basetagline1 {
  font-size: 70px;
  text-shadow: 2px 2px #ff0000;
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  text-indent: 10px;
}

.gallerycontainer {
  position: relative;
  column-count: 4;
  padding: 20px;
  top: 75px;
}

.galleryimage {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
}

.galleryimage img {
  width: 100%;
  transition: 0.25s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
}

.galleryimage:hover img {
  transform: scale(1.1);
}

.galleryintro {
  position: absolute;
  color: #ffffff;
  font-family: 'Patua One', cursive;
  font-size: 22px;
  text-align: left;
  width: 90%;
  margin: 20px
}

.maingallery {
  background-color: hsla(0, 100%, 70%, 0.3);
  position: relative;
  top: 70px;
}

#slider {
  overflow: hidden;
  max-height: 50vh;
  min-height: 50vh;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0 ;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img {
  width: 20%;
  float: left;
  object-fit: cover;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

#basehead {
  background-image: url("images/baseback.jpg");
}

.basenavbar {
  background-image: url("images/bluewood.jpg");
  border-bottom: 10px solid #0084ff;
  border-width: thick;
}

.aboutmain {
  box-sizing: border-box;
  font-family: 'Patua One', cursive;
  width: 100%;
  min-height: 100vh;
  background: url("images/earphones.jpg");
  top: 70px;
  position: relative;
}

.aboutcontainer {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 40px;
}

.content-section {
  float: left;
  width: 55%;
}

.image-section {
  float: right;
  width: 40%;
}

.image-section img {
  width: 100%;
  height: auto;
  top: 34px;
  position: relative;
  border: 7px solid #0084ff;
}

.content-section .abouttitle {
  text-transform: uppercase;
  font-size: 28px;
  color: #d000ff;
  text-shadow: 1.5px 1.5px #010209;
}

.content-section .content h3 {
  margin-top: 20px;
  color: #ffffff;
  font-size: 21px;
  text-shadow: 1.5px 1.5px #010209;
  letter-spacing: 2.1px;
}

.content-section .content h6 {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 1.3vw;
  line-height: 1.5;
  color: #000000;
  letter-spacing: 2.5px;
  position: relative;
  background-color: hsla(181, 82%, 88%, 0.28);
  padding: 10px;
  font-size: 17.5px;
}

.readmoretext {
  display: none;
}

.readmorebutton {
  margin-top: 30px;
  position: relative;
  cursor: pointer;
}

.seeabletext.show-more .readmoretext{
  display: inline;
}

.seeabletext.show-more .ellipsis{
  display: none;
}

.readmorebutton {
  background-color: #3d3d3d;
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
  border-radius: 40px;
  position: relative;
}

.readmorebutton:hover {
  background-color: #d400ff;
  color: #fff;
}

.social {
  margin: 40px 40px;
  position: relative;
}

.social i {
  color: #a52a2a;
  font-size: 30px;
  padding: 0px 10px;
}

.social i:hover {
  color: #ffffff;
}



@media screen and (max-width: 768px){
  .aboutcontainer {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }

  .aboutmain{
    padding-bottom: 115px;
  }

  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  .image-section {
    float: none;
    width: 100%;
  }

  .image-section img {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;

  }

  .content-section .abouttitle {
    text-align: center;
    font-size: 19px;
  }

  .readmorebutton {
    text-align: center;
    padding: 9px 30px;
  }

  .social {
    text-align: center;
  }
}

@media screen and (max-width:768px){
  .row{
    position: relative;
    top: 130px;
    margin: 10px;
    width: 100%;
  }

  .text-wrapper{
    min-height: 100px;
    max-height: 100px;
    min-width: 100px;
    max-width: 100px;
    border-color: #ffffff;
    border: 3px solid hsl(173, 97%, 45%);
    border-radius: 70px;
    position: relative;
    border: 5.2px solid #ffffff;
    box-shadow: 0 15px 35px #3d2173a1;
    transition: all ease 0.4s;
    display: block;
    line-height: 180px;
  }

  .text-wrapper h5{
    text-align: center;
    color: #ffffff;
    text-transform: lowercase;
    text-shadow: 1.5px 1.5px #000000;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: calc(1vw + .5rem);
    padding-bottom: 100%;
  }

  #container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 0fr));
    grid-gap: 20px;
    margin: 10px;
  }

}

.player {
  position: relative;
  width: 250px;
  background: #ffffff;
  box-shadow: 0 50px 80px rgba(0,0,0,0.25);
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
}

.player .imgBx {
  position: relative;
  width: 100%;
  height: 350px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  box-shadow: inset 0 0 10px;
}

.player .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  box-shadow: inset 0 0 10px;
}

.player audio {
  width: 100%;
  outline: none;
}

.basecontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 70px;
  margin: 40px;
}

.basemusictext {
  position: relative;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
  padding: 5px;
  vertical-align: middle;
  background-image: url("images/bluewood.jpg");
}

.baseintro {
  color: #FFFFFF;
  font-size: 25px;
  font-family: 'Patua One', cursive;
  padding: 10px;
}

@media screen and (max-width:768px){
  .player {
    position: relative;
    width: 100px;
  }

  .player audio {
    width: 100%;
  }

  .basecontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 3px;
    margin: 7px;
  }

  .baseintro {
    position: relative;
    bottom: 30px;
  }
}
